
@*bir sayfada lıste tanımlamak için en üstte model ile beraber kullanıllmalı ve liste olacak tablo adı da verilmeli*@
@model List<Order>

<div class="col-md-8 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">
                <i class="fas fa-table"></i>
                Son Siparişler
            </h4>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Müşteri</th>
                            <th>Ürün</th>
                            <th>Adet</th>
                            <th>Durum</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var item in Model)
                        {
                            <tr>
                                <td class="font-weight-bold">
                                    @item.Customer.CustomerName @item.Customer.CustomerSurName
                                </td>
                                <td class="text-muted">
                                    @item.Product.ProductName
                                </td>
                                <td>
                                    @item.OrderCount
                                </td>
                                <td>
                                    <label class="badge badge-success badge-pill">@item.Status</label>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>